<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Chisato's Bespoke Travel</h1>
    <br />
    <h2>Rare Japan</h2>
    <br />
    <%= link_to 'Take the Journey', '#', class: 'btn btn-secondary' %>
    <br /> <br />
  </div>
</div>